#logo {
    width: 120px;
    height: 120px
}

header {
    border-radius: 15px;
    box-shadow: 1px 0 5px black;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
}

header div a {
    margin-left: 15px;
}

@media screen and (max-width: 720px) {
	
}