html {
    background-color: rgb(255, 255, 250);
    color: rgb(38, 31, 27);
}

#logo {
    margin-left: 10px;
    width: auto;
    height: 100px;
}

.google_font {
    font-family: "M PLUS 1", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.header {
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
}

.header div a {
    margin-left: 10px;
    margin-right: 15px;
    color: black;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    background-color: rgb(255, 255, 250,0.5);
}

.main {
    margin-top: 150px;
    text-align: center;
}

.store_img {
    width: 600px;
    height: auto;
}

.interior_img{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.interior_img img {
    width: 295px;
    height: auto;
}

@media screen and (max-width: 720px) {
	
}